/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 1rem;
}

nav > div {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 16px 24px;
}

.nav-item {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
    margin: 0 5px;
}

.section-container {
    background-color: #f8f9fa;
    padding: 1rem;
}

.banner-container {
    height: 258px;
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.facility-list {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
}

.facility-icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-result {
    border: 1px solid black;
    padding: 1rem;
}

.message-us-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.result-container {
    width: 50%;
}

.image-slideshow {
    width: 100%;
    height: auto;
    display: none;
}

.image-slideshow:first-child {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.banner-container .prev {
    left: 0;
}

.banner-container .next {
    right: 0;
}

.banner-container button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
    .header-wrapper {
        flex-direction: column;
    }

    .menu {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .nav-item {
        width: 100%;
        text-align: center;
    }

    .logo-icon {
        margin-bottom: 14px;
    }

    .message-us-section {
        flex-direction: column;
        align-items: center;
    }

    .result-container {
        width: 100%;
    }
}
